.items {
  li {
    margin-left: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h5 {
      font-size: 1.8rem;
      font-weight: 400;
      cursor: pointer;

      &.active {
        text-decoration: underline;
        font-weight: 700;
        pointer-events: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &:last-of-type {
      display: block;
      list-style: none;
      font-size: 3rem;
      text-align: center;
      cursor: pointer;
      margin-left: 0;

      &:hover {
        font-weight: 700;
      }
    }
  }
}