.note {
  width: 30rem;
}

.note:not(:last-of-type) {
  margin-bottom: 3rem;
}

.title {
  display: flex;
  width: 100%;
}

.content {
  width: 100%;
  position: relative;

  &.hide {
    display: none;
  }
}
