:root {
  --color-board-list: #cee1e6;
  --color-board: #e9eff4;
  --color-note-header: #f8f7b6;
  --color-note-body: #fdfccf;
  --color-board-title: transparent;
  --color-dialog-fallback: rgba(0, 0, 0, .4);
  --color-dialog-content: #fefefe;
  --color-dialog-border: #888;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  padding: .3rem .8rem;
  cursor: pointer;
}